[run]
source = py/desitarget
omit =
   py/desitarget/_version.py
   py/desitarget/conftest*
   py/desitarget/cython_version*
   py/desitarget/mock/mockmaker.py
   py/desitarget/setup_package*
   py/desitarget/*/setup_package*
   py/desitarget/*/*/setup_package*
   py/desitarget/sandbox/*
   py/desitarget/sphinx/*
   py/desitarget/skyutilities/*
   py/desitarget/test/*
   py/desitarget/*/test/*
   py/desitarget/*/*/test/*
   py/desitarget/train/*

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):
